# use glob syntax.
syntax: glob

*.o
*.pyc
*.pyo
bam
.bam
config.lua
build
src/game/generated
__pycache__/
scripts/work/
SDL.dll
freetype.dll
autoexec.cfg
infection*
stats.db

Infection-Server*

# CMake
data
!/data
src
!/src

*.ninja
.ninja*
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
cmake_install.cmake
install_manifest.txt

.vscode